@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<AppLang> AppLangResource
<div class="col-md-4" ng-repeat="def in ctrl.ObjectDefintions">
    <div class="box box-success collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-table"></i>  {{def.objectDefinitionName}}</h3>
            <div class="box-tools pull-right">
                <button ng-click="ctrl.editObjectDefinition(def)" class="btn btn-box-tool">
                    <i class="fa fa-edit"></i> @AppLangResource["COMMON_BTN_EDIT"]
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-expand"></i>
                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body" style="display: none;">
            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="fld in def.objectFields">
                    <a href="#">
                        <i class="fa fa-columns"></i> {{fld.objectDefinitionFieldName}}
                        <span class="label label-primary pull-right">{{fld | fieldTypeNameFilter}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <div class="box-tools">
                <button class="btn btn-box-tool" ng-click="ctrl.deleteObjectDefintion(def.objectDefinitionID)">
                    <i class="fa fa-trash"></i> @AppLangResource["COMMON_BTN_DELETE"]
                </button>
                <button ng-click="ctrl.editObjectDefinition(def)" class="btn btn-box-tool">
                    <i class="fa fa-edit"></i> @AppLangResource["COMMON_BTN_EDIT"]
                </button>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <button class="btn btn-social-icon btn-success" ng-click="ctrl.editObjectDefinition()"><i class="fa fa-plus"></i></button>
</div>