<div class="info-box">
    <!-- Apply any bg-* class to to the icon to color it -->
    <span class="info-box-icon bg-blue"><i class="fa fa-database"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">{{grp.groupName}}</span>
        <span class="progress-description">
            {{grp.groupKey}}
        </span>
    </div><!-- /.info-box-content -->
    <div class="box-tools pull-right">
        <button class="btn btn-box-tool" ng-click="ctrl.ShowObjDefinition(grp)"><i class="fa fa-table"></i></button>
        <button class="btn btn-box-tool" ng-click="ctrl.EditGroup(grp)"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-box-tool" ng-click="ctrl.DeleteGroup(grp)"><i class="fa fa-trash"></i></button>
    </div>
</div><!-- /.info-box -->