@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Mvc.Localization
@using FE.Creator.PCenter
@inject IHtmlLocalizer<SharedLangResource> ResourceString
@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <nav id="cookieConsent" class="navbar navbar-fixed-bottom navbar-inverse" role="alert">
        <div class="container">
            <p class="navbar-text">
                    @ResourceString["We use cookies to ensure you get the best experience on our website."]
                </p>
                <div class="navbar-right">
                    <button type="button" class="btn btn-success navbar-btn" data-cookie-string="@cookieString">@ResourceString["Accept"]</button>
                </div>
        </div>
    </nav>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("hidden");
            }, false);
        })();
    </script>
}