[Unit]
Description=FEConsole Portal application service

[Service]
WorkingDirectory=/var/www/feconsole/feconsoleportal/
ExecStart=/usr/bin/dotnet /var/www/feconsole/feconsoleportal/FE.Creator.FEConsolePortal.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=feconsoleportal
User=root
# Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target

