[Unit]
Description=FEConsole Admin application service

[Service]
WorkingDirectory=/var/www/feconsole/feconsoleapi/
ExecStart=/usr/bin/dotnet /var/www/feconsole/feconsoleapi/FE.Creator.FEConsoleAPI.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=feconsoleapi
User=root
# Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target

