################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FECreator
/FE.Creator.FEConsoleAPI/appdata/20200410
/FE.Creator.IdentityServer/fetechhub_identityserver.db
/FE.Creator.FEConsoleAPI/appdata
.vscode
.vs
*.db
*/bin
