
<section id="home" class="padbot0">
    <!-- TOP SLIDER -->
    <div id="top_slider" class="flexslider top_slider">
        <ul class="slides">
            <li class="slide1 slide1-cn">
                <div class="flex_caption1">
                    <p class="title1 captionDelay2 FromTop">发布</p>
                    <p class="title2 captionDelay4 FromTop">创新</p>
                    <p class="title3 captionDelay6 FromTop">文章</p>
                    <p class="title4 captionDelay7 FromBottom">这个应用为你的内心深处打开一扇通往外界的窗口, 即刻来分享你的创新观点。</p>
                </div>
            <li class="slide2 slide2-cn">
                <div class="flex_caption1">
                    <p class="title1 captionDelay6 FromLeft">展示</p>
                    <p class="title2 captionDelay4 FromLeft">奇妙</p>
                    <p class="title3 captionDelay2 FromLeft">图片</p>
                    <p class="title4 captionDelay7 FromLeft">你若恰好喜欢用相机记录这个世界的万千美好, 这个应用可以帮助你分享一些美好瞬间给公众。</p>
                </div>
            </li>
            <li class="slide3 slide3-cn">
                <div class="flex_caption1">
                    <p class="title1 captionDelay1 FromBottom">推荐</p>
                    <p class="title2 captionDelay2 FromBottom">珍贵</p>
                    <p class="title3 captionDelay3 FromBottom">书籍</p>
                    <p class="title4 captionDelay5 FromBottom">通过应用来轻松推荐你所珍爱的书籍, 和亲友一起讨论读书感想。</p>
                </div>
                @*//VIDEO BACKGROUND
                    <a id="P2" class="player" data-property="{videoURL:'tDvBwPzJ7dY',containment:'.top_slider .slide3',autoPlay:true, mute:true, startAt:0, opacity:1}"></a>
                    //VIDEO BACKGROUND*@
            </li>
        </ul>
    </div>
    <div id="carousel">
        <ul class="slides">
            <li><img src="~/lib/flexslider/images/slider/slide1_bg_cn.png" alt="" /></li>
            <li><img src="~/lib/flexslider/images/slider/slide2_bg_cn.png" alt="" /></li>
            <li><img src="~/lib/flexslider/images/slider/slide3_bg_cn.jpg" alt="" /></li>
        </ul>
    </div><!-- //TOP SLIDER -->
</section>