@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<AppLang> AppLangResource
<div class="col-md-12">
    @await Html.PartialAsync("~/Views/AngularView/Client/Common/Progress.cshtml")
    <div class="alert alert-danger alert-dismissible" ng-if="ctrl.errorMsg != null">
        <button class="close" aria-hidden="true" type="button" data-dismiss="alert">×</button>
        <h4>
            <i class="icon fa fa-ban"></i> @AppLangResource["IMAGEMGR_ERR_ALERT"]</h4>
            {{ ctrl.errorMsg}}
    </div>
</div>
